.Charts {
    display: flex;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}
@media screen and (max-width: 1200px) {
    .Charts{
      flex-direction: column;
    }
    .parentContainer{
      height: 8rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Charts{
      width: 90%;
      padding: 1rem;
      margin: 10px;
    }
  }